<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yin.dao.CommodityMapper">
    <resultMap id="commodityResultMap" type="com.example.yin.domain.Commodity">
        <result column="src_img" property="srcImg"/>
    </resultMap>
    <select id="selectCommoditiesByCid" resultMap="commodityResultMap">
        select * from commodity where cid = #{id}
    </select>
    <select id="selectAllCommodities" resultMap="commodityResultMap">
        select * from commodity
    </select>
</mapper>