<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yin.dao.ContestMapper">
    <select id="selectAllContest" resultType="com.example.yin.domain.Contest">
        select * from contest;
    </select>
</mapper>